name: Build
env:
  DEBUG: napi:*
  APP_NAME: lotus
  MACOSX_DEPLOYMENT_TARGET: '10.13'

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'
      - 'LICENSE'
      - '**/*.gitignore'
      - '.editorconfig'
      - 'docs/**'
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: windows-latest
            target: x86_64-pc-windows-msvc
            setup: |
              choco install llvm nasm python311
              echo "LIBCLANG_PATH=C:/Program Files/LLVM/lib" >> $GITHUB_ENV
              echo "PYTHON=python" >> $GITHUB_ENV
            build: |
              npm run build --workspace=@lotus-gui/core
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            setup: |
              sudo apt-get update && sudo apt-get install -y \
                libfontconfig1-dev libgl1-mesa-dev libssl-dev \
                clang libclang-dev lld
            build: |
              npm run build --workspace=@lotus-gui/core -- --target x86_64-unknown-linux-gnu
    name: stable - ${{ matrix.settings.target }} - node@22
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.settings.target }}
      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            .cargo-cache
            target/
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}
      - name: Setup toolchain
        run: ${{ matrix.settings.setup }}
        if: ${{ matrix.settings.setup }}
        shell: bash
      - name: Install dependencies
        run: npm install
      - name: Build
        run: ${{ matrix.settings.build }}
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.settings.target }}
          path: packages/lotus-core/${{ env.APP_NAME }}.*.node
          if-no-files-found: error
